/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on JUNO/Jurassic
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run -params-file input.config alpha/main.nf -profile jurassic,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig 'jurassic_resources.config'

process {
    // beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
    // maxRetries = 3

    singularity.cacheDir = '/rtsess01/compute/juno/bic/ROOT/opt/singularity/cachedir_socci'

    // executor = "lsf"
    //  clusterOptions = "-sla CMOVOYAGER"
    //  queueSize = 500
    //  perJobMemLimit = true

    executor = "local"

}

params {

    config_profile_name        = 'Jurassic'
    config_profile_description = 'Juno in the jurassic era profile'

    // Reference genome options

    fasta = "${genome_resources.genomes[params.genome].fasta}"
    known_sites = "${genome_resources.genomes[params.genome].resources.known_sites}"
    roi_bed = "${genome_resources.genomes[params.genome].targets[params.target_assay].roi_bed}"
}
